body{

    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
display: flex;
justify-content: space-evenly;
height: 100px;
width: 800px;
background-image: linear-gradient(to right,rgb(0, 221, 255),rgb(0, 128, 225));
box-shadow: 5px 5px 10px;
border-radius: 10px;

}
.menuImg{
    width: 50px;
    height: 50px;


}
#menuClose{
        width: 50px;
    height: 50px;
    display: none;
}
.container>h3{
align-self: center;
color: white;
}
.container>h1{
    align-self: center;
}
.container>a{
    align-self: center;
}
aside{
    background-image: linear-gradient(to right,rgb(0, 255, 0), rgb(251, 255, 0));
    width: 300px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    display: none;
}
.asideContainer>ul{
    text-transform: uppercase;
    list-style: none;
    
}
li>a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bolder;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
li{
    margin-top: 55px;
}

/* image slider */
.slide>img{
width: 100%;
    height: 100%;
    object-fit: cover;
}
.slideContainer{
    position: relative;
    max-width: 500px;
    overflow: hidden;
    margin: auto;
    margin-top: 50px;
}
.slides{
    position: relative;
    width: 500%;
    height: 400px;
    transition: left 0s;
}
.slide{
    float: left;
    width: 20%;
    height: 100%;
    object-fit: cover;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    padding: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    user-select: none;
}
.prev {
    left: 0;
}

.next {
    right: 0;
}
.dotContainer {
    text-align: center;
    margin-top: 20px;    
}
.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}
.dot.active {
    background-color: #333;
}